html,

/* Text body. ---------------------------------------------------------------------------------------------------- */

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: #0c0c0c;
	color: #b7b7b7;
}

/* Page layout ---------------------------------------------------------------------------------------------------- */

.container {
	max-width: 50rem;
	padding: 0 1rem;
	margin: 3rem auto 6rem;
}

/* Text selection (mouse) color. ---------------------------------------------------------------------------------------------------- */

::-moz-selection {
	background: #1f1f1f;
}

::-webkit-selection {
	background: #1f1f1f;
}

::selection {
	background: #1f1f1f;
}

/* Link color. ---------------------------------------------------------------------------------------------------- */

.link {
	color: #5f5f5f;
}

.link:hover {
	color: #b7b7b7;
	text-decoration: none;
}

.tab-space {
	padding-left: 1em;
}

/* Pagination configuration. ---------------------------------------------------------------------------------------------------- */

.customPagination > li > a {
	color: #5f5f5f;
  background-color: #0f0f0f !important;
	box-shadow: none !important;
	border-color: #0f0f0f;
}
.customPagination > li.active > a,
.customPagination > li > a:hover
{
	color: #b7b7b7;
	border-color: #0f0f0f;
}

/* Login form ---------------------------------------------------------------------------------------------------- */

.login, .login:focus {
	background-color: #0f0f0f;
	color: #b7b7b7;
	box-shadow: none !important;
	border: none;
	width: 40%;
}

/* Header text ---------------------------------------------------------------------------------------------------- */

.text-header {
	text-align: center;
	font-size: 80px;
	text-decoration: none !important;
	color: #b7b7b7 !important;
}

/* Back home bottom element ---------------------------------------------------------------------------------------------------- */

.back-to-home {
	color: #b7b7b7 !important;
	/* font-weight: bold; */
	text-decoration: none !important;
}

.back-to-home:hover {
	color: #5f5f5f !important;
	text-decoration: none;
}

/* Textarea ---------------------------------------------------------------------------------------------------- */

.textarea, .textarea:focus {
	background-color: #0e0e0e;
	color: #b7b7b7;
	box-shadow:none !important;
	border: none;
}

/* Feed posts ---------------------------------------------------------------------------------------------------- */

.feed {
	background-color: #0e0e0e;
	color: #b7b7b7;
	border: none;
}

/* Buttons ---------------------------------------------------------------------------------------------------- */

.btn {
	background-color: #0f0f0f !important;
	color: #b7b7b7 !important;
	box-shadow:none !important;
	border: none;
}

/* Break lines ---------------------------------------------------------------------------------------------------- */

.h-line {
	border-top: thin solid #111111 !important;
}

.h-line-bottom {
	border-bottom: thin solid #111111 !important;
}


/* Menu ---------------------------------------------------------------------------------------------------- */

/* .menu {
	color: #b7b7b7 !important;
} */

/* .menu:hover {
	color: #5f5f5f !important;
	text-decoration: none;
} */

/* .menu-lines {
	border-top: thin solid #111111 !important;
	border-bottom: thin solid #111111 !important;
} */

.sidenav {
  height: 100%;
  width: 6%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0e0e0e;
  overflow-x: hidden;
  padding-top: 20%;
}

.flex-column {
	/* text-align: right; */
	padding: 6px 80px 6px 3px;
	/* padding: 55rem; */
}

.sidenav a {
  /* padding: 6px 80px 6px 16px; */
  text-decoration: none;
	font-weight: bold;
	/* text-align: center; */
  font-size: 35px;
	color: #b7b7b7 !important;
  display: block;
}

.sidenav a:hover {
  color: #5f5f5f !important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
